* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

svg.bottom-left {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
}

svg.top-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}

main {
    position: relative;
    height: 100vh;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > h1 {
    color: #293264;
    font-family: "Karla", sans-serif;
    margin-bottom: 0;
}

header > p {
    margin-top: 7px;
    margin-bottom: 30px;
    color: #293264;
}

header > button, form > div > button {
    font-family: inherit;
    font-weight: 500;
    color: #F5F7FB;
    background-color: #4D5B9E;
    width: 193px;
    height: 52px;
    border: none;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 75px;
}

div.question > p {
    color: #293264;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    font-size: 1.25rem;
}

div > input[type="radio"] {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

div > label {
    border: 0.79px solid #4D5B9E;
    border-radius: 8px;
    padding: 2px 20px;
    cursor: pointer;
}

/* Style the label when its radio is checked */
div > input[type="radio"]:checked + label {
    background-color: #D6DBF5;
    border-color: #D6DBF5;
}

div > input[type="radio"].correct + label {
    background-color: #94D7A2;
}

div > input[type="radio"].wrong + label {
    background-color: #F8BCBC;
    opacity: 50%;
}

div > input[type="radio"].other + label {
    /* background-color: #4D5B9E; */
    opacity: 50%;
}

div.options {
    display: flex;
    gap: 15px;
}

form > div.buttons {
    display: flex;
    justify-content: space-around;
}

form > div.buttons > p {
    font-size: 17px;
    font-weight: 700;
    color: #293264;
}

form > div > button {
    align-self: center;
}
